<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-teal">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/pharmacy-ms/medications/">
                <img src="/pharmacy-ms/images/pharmacy-logo.png" alt="Pharmaceutica Logo"> <!-- Custom styling for logo -->
                Pharmaceutica
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/dashboard/"><img src="/pharmacy-ms/images/dashboard-icon.png" alt="Dashboard" width="20"> Dashboard</a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link" href="/medications/"><img src="/pharmacy-ms/images/drugs-icon.png" alt="Drugs" width="20"> Medications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales/"><img src="/pharmacy-ms/images/sales-icon.png" alt="Sales" width="20"> Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reports/"><img src="/pharmacy-ms/images/reports-icon.png" alt="Reports" width="20"> Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings/"><img src="/pharmacy-ms/images/settings-icon.png" alt="Settings" width="20"> Settings</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img id="selected-flag"  src="/pharmacy-ms/images/eng-icon.png" alt="English" width="20"> <span id="selected-language">English</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <li><a class="dropdown-item" onclick="changeLanguage('English', '/pharmacy-ms/images/eng-icon.png')"><img src="/pharmacy-ms/images/eng-icon.png" alt="English" width="20"> English</a></li>
                            <li><a class="dropdown-item" onclick="changeLanguage('Arabic', '/pharmacy-ms/images/ar-icon.png')"><img src="/pharmacy-ms/images/ar-icon.png" alt="Arabic" width="20"> Arabic</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">
                                <a><img src="/pharmacy-ms/images/logout-icon.png" alt="logout" width="20"> Logout</a>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>